<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NombreAplicacion" value="sincoaltium" />
    <add key="Estado" value="1yk0dwg9QEtfbYP54VqL6+EQTlOWJVj+JLApA2wX4W8lSlTJS+8cKM6wMCbZWX8+" />
  </appSettings>
  <system.web>
    <machineKey decryption="AES" decryptionKey="376C0E3492542CA19595769E660D2E1FE87B6F732CADA92E29ED61FC1E15F123" validation="SHA1" validationKey="2155A5F57E7B1C25FA44A041517D0B17FF981EEFDC60F1C5B4D353C14C32BD4BA15934B5ACE8804B6751BADF75DF4E692B21CC1BB33EE259D6B035DA76CB6ABB"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"
      cookieName="ASP.NET_sincoaltium" timeout="480" />
    <compilation targetFramework="4.5"/>
  </system.web>
  <connectionStrings>     
    <add name="Inicio_Contexto" connectionString="Data Source=Kilauea-v03,4263;Initial Catalog=SincoAltium;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
